[2015-03-17 17:27] mengzyou opened #1 "systemctl error"
When exectue the `systemctl` command on container, always got below error:

[code]

images vesion: `13.2`

[code]

[2015-03-18 08:54] flavio commented on #1
That happens because right now systemd cannot run inside of Docker. That happens despite of the container OS/docker version being used.

You have to start mysql by hand, take a look at what is written inside of systemd's unit file for mysql.

Closing as invalid.

[2015-03-18 08:54] #1 closed, assigned to nobody

[2015-03-18 12:45] mengzyou commented on #1
@flavio Got it, thank you very much!

[2015-03-23 13:52] zimmski opened #2 "Running more than one service"
I want to use your openSUSE base images for some internal showcases. The problem is that I need to run more than one service inside the container e.g. PostgreSQL and some other applications.

What are you recommending for doing this? It would be ideal if I could use the usual systemctl/service commands to enable/start services.

(I know that it is best practice to use just one service per containe

[2015-03-23 13:58] darix commented on #2
just run the normal init system

[2015-03-23 14:03] zimmski commented on #2
You mean like this?

[code]

[2015-03-23 15:13] flavio commented on #2
`/sbin/init` on recent versions of openSUSE is provided by systemd, which cannot run right now inside of Docker containers (despite of the host/guest combination).

You could rely on a simpler init system like runit or you could just use a script as entry point. Inside of the script you could start all the daemons you need. The only drawback of this approach is to take care of the cleanup of the r

[2015-03-23 15:15] tboerger commented on #2
There are various options for doing this like runit, monit or even something in the python world. I think there is no solution to rule them all :)

[2015-03-23 15:24] darix commented on #2
or you could just one container per app and let them talk via network?;)

[2015-03-23 15:27] tboerger commented on #2
That's the way how it should work :). But there are cases where i have done it different, like a rails application with a worker queue and a clockwork component, there i have added a Procfile (which gets processed by foreman) like it is available on Heroku.

[2015-03-23 15:28] darix commented on #2
well while it is ugly to duplicate the rails code into multiple containers, it is not different from the ugliness of having to duplicate all the libs+data files for each service.

[2015-03-23 17:10] zimmski commented on #2
I am trying to get as close to a normal VM as possible so it would be nice if systemctl/service would work. Usually i am using "supervisor" but that is not what I want to do with this project.

[2015-03-23 17:12] tboerger commented on #2
But containers are not compareable with virtual machines

[2015-03-23 17:14] darix commented on #2
so do one container per app and let them talk via network?

flavio just pointed me to:
- http://developerblog.redhat.com/2014/05/05/running-systemd-within-docker-container/
- https://github.com/docker/docker/issues/3629

hth.

p.s.: before i moved to systemd's restart feature i had been using runit for this.

[2015-03-23 17:33] zimmski commented on #2
I am aware of the container vs VM discussions, docker best practices, and so on. I do not want to discuss this here.

I want to discuss how more than one service could be started with their init/systemd files, run by a processmanager/init system using the openSUSE image as its base in the easiest way possible. Since using systemd does not seem to work, yet (@darix: I read the same articles, privil

[2015-04-23 09:47] garretraziel opened #3 "Include GPG keys for standard repositories"
In current `opensuse:13.2` image there are no GPG keys for these repos: `repo-non-oss`, `repo-oss`, `repo-oss`, `repo-update` and `repo-update-non-oss` so when creating image based on `opensuse:13.2`, user has to install packages with `--gpg-auto-import-keys` or import keys by hand. But another problem is that `opensuse:13.2` doesn't include any certificates, so:
1. user is unable to install `ca-c

[2015-04-23 16:19] flavio commented on #3
The fixed images are going to show up as soon as [this PR](https://github.com/docker-library/official-images/pull/680) is closed.

[2015-04-23 19:35] flavio commented on #3
The updated images are currently building. They are going to be available on the Docker Hub within the next hours.

[2015-04-23 19:35] #3 closed, assigned to flavio

[2015-06-30 08:56] flavio commented on #2
Closing, not pertinent with this project

[2015-06-30 08:56] #2 closed, assigned to nobody

[2015-07-02 10:53] garretraziel opened #6 "Update libusb-1_0-0"
We are using Qemu inside openSUSE container. Newest version of openSUSE image (version 13.2) contains really old version of libusb-1_0-0 for some reason and running Qemu fails with:

[code]

Updating libusb during image building (with `RUN zypper --non-interactive in libusb-1_0-0`) installs newest version of libusb that works with Qemu.

Is there any reason why older version is included?

[2015-07-02 10:58] adrianschroeter commented on #6
it looks like the repository order inside of the kiwi file is wrong, so the oldest (GA) package gets prefered actually.

[2015-07-02 12:23] flavio commented on #6
I'll submit the new image to the Docker Hub once it's done. Thanks @adrianschroeter for the tip.

[2015-07-04 01:04] kcgen opened #7 "File repo reference in opensuse:latest tag"
repo-oss in the the latest opensuse tag is using a file:/ reference instead of the web source: http://download.opensuse.org/distribution/13.2/repo/oss

For those who need a work around in docker, use the following prior to installing packages:

zypper rr repo-oss && zypper addrepo http://download.opensuse.org/distribution/13.2/repo/oss repo-oss && zypper ref

---

 [kcroft@hoya ~] docker run -i -t

[2015-07-07 15:03] flavio commented on #6
Fixed

[2015-07-07 15:03] #6 closed, assigned to nobody

[2015-07-07 15:03] flavio commented on #7
Fixed.

[2015-07-07 15:03] #7 closed, assigned to nobody

[2015-07-15 10:25] ghost opened #8 "Missing repository for openSUSE-release-mini package"
Hi,

I'm trying to reproduce the docker image build. I installed _openSUSE 13.2_ in a virtual machine, added the `kiwi` repository and tried to build a rootfs with the `config.kiwi` template.

One package, which is going to be installed is `openSUSE-release-mini`. With the current configuration the build process fails on my machine, because it can't find the package. The `openSUSE-release-mini` ca

[2015-07-15 11:35] flavio commented on #8
I have good news for you, we just reduced the image size to ~80M.

We worked together with the kiwi author, we cannot shrink the image size even further without breaking the system.

Can I close this issue?

[2015-07-15 11:50] flavio commented on #8
The smaller images are going to be on the Docker Hub as soon as https://github.com/docker-library/official-images/pull/894 is merged.

[2015-07-15 11:50] #8 closed, assigned to nobody

[2015-07-16 09:41] ghost commented on #8
@flavio Thanks for that update! Another question: Is the current `config.kiwi` then up to date? Because I got errors related to the `openSUSE-release-mini` package :(

[2015-07-23 07:47] flavio commented on #8
Sorry for the late response. The contents of this repository are used to build the images on the open build service (there's a link inside of the README). So yes, everything should work out of the box with kiwi

[2015-09-02 09:56] schidlo opened #11 "kmod package isn't installed"
I tried to run lsmod (which is part of kmod package) but it was missing in opensuse:13.2 image. This package was part of image before.

Is this change made by mistake or it is on purpose? Thank you for your answer.

[2015-09-02 13:00] flavio commented on #11
We deliberately removed this package from the official images because 99% of the times there's no reason to allow a container to mess with the kernel of the host.

You can add the package back by installing it manually inside of your Dockerfile.

[2015-09-02 13:00] #11 closed, assigned to nobody

[2015-12-11 08:15] hurricanehrndz opened #12 "Any possibility we can get an ARM version of Tumbleweed or Leap"

[2015-12-11 08:20] flavio commented on #12
We used to have one [here](https://build.opensuse.org/package/show/Virtualization:containers:images:openSUSE-42.1/openSUSE-42.1-docker-image). Right now it's not building, we can look into that in the next weeks.

However there's the problem about where we should push the image. The Docker Hub doesn't provide any distinction between x86 and ARM/Power/Z architectures.

A possible solutions could be

[2015-12-11 08:22] hurricanehrndz commented on #12
Awesome! I believe opensuse/arm:42.1 or opensuse/arm:tumbleweed works well.

[2015-12-11 10:21] awafaa-zz commented on #12
My preference is to label the name spaces according to compiler triplet:
- <code> docker pull opensuse/aarch64:42.1 </code>
- <code> docker pull opensuse/armv7l:42.1 </code>
- <code> docker pull opensuse/armv6l:42.1 </code>
- <code> docker pull opensuse/ppc64:42.1 </code>
- <code> docker pull opensuse/s390x:42.1 </code>

This also enables growth for any additional architectures that get added

[2015-12-11 10:23] awafaa-zz commented on #12
I'm waiting to hear back from ARM as to whether they agree on this proposal, as there are plans to have root name spaces within the docker hub too.

[2016-03-15 06:08] YuzhongHuangCS opened #13 "Error: System error: exec: "bash": executable file not found in $PATH"
I found that `harlequin` and `leap` release of the docker image is severely broken and failed to run any command like `bash`, `pwd`.
Only `tumbleweed` release is working.
##  Console output below

[code]

[code]

[2016-03-15 08:17] flavio commented on #13
This has been caused by a bug on the build system of the Docker Hub (see [this](https://github.com/docker-library/official-images/pull/1537#issuecomment-196652045) issue).

We reported the issue to upstream, in the meantime we will push the images to the `opensuse/` namespace on the Docker Hub

[2016-03-15 10:20] cyphar commented on #13
As @flavio said, the build system for the official images on the Docker Hub appears to be having some problems. We've pushed the images to the `opensuse/` namespace with the form `opensuse/amd64:<version>`. Sorry for the inconvenience.

If you have any images that are derived on `library/opensuse` (`FROM opensuse:<tag>`) then you can fix those as well by creating those tags like so:

[code]

[2016-03-15 15:20] tianon commented on #13
We've also re-pushed the older tags to `opensuse:` while we investigate what we can do to fix this. :cry:

[2016-03-17 14:48] cyphar opened #14 "Don't install systemd by default"
Most users don't run `systemd` as their init system inside a container. So it's unnecessary to bloat the base images with all of `systemd`'s machinations (anybody can `zypper in ...` if they want).

[2016-03-17 15:01] flavio commented on #14
Unfortunately we have to do that for openSUSE 13.2 and 42.1 because some systems tools (like `ps`) are dynamically linked against `libsystemd`, which is shipped inside of the `systemd` package. That is a major pita that has been solved by tumbleweed and SLE12 SP1 by splitting the `systemd` packages in two parts (one being `libsystemd`).

[code]

[2016-03-17 15:01] #14 closed, assigned to nobody

[2016-03-17 15:36] cyphar commented on #14
`<insert rant about libsystemd and why lib[your init system] is a bad idea for making libraries>`

But seriously, can we bring this up with the `systemd` maintainers? Seems like something that we should fix.

[2016-03-17 15:53] flavio commented on #14
This has already been fixed inside of tumbleweed and sle12 sp2. We cannot do this change right now inside of 42.1, things are going to be better with the next release of leap

[2016-07-07 08:21] synergiator opened #23 "Zypper issue with the 13.2 image"
Hi! Thank you for providing this!
On an Ubuntu machine, I want to try a Dockerfile (docker v. 1.11.2)

Dockerfile:
FROM opensuse:13.2
RUN zypper --non-interactive ref -s

=> Problem:
Refreshing service 'container-suseconnect'.
Problem retrieving the repository index file for service 'container-suseconnect':
[|]
Skipping service 'container-suseconnect' because of the above error.
All services have

[2016-07-07 08:32] #23 closed, assigned to nobody

[2016-07-07 08:34] synergiator commented on #23
Glitch - I used custom image derived from a public sles docker an this is for some reason not possible on other hosts than sles... Using FROM opensuse:13.2 latest works now.
http://stackoverflow.com/questions/35745597/suse-linux-docker-file

[2016-09-05 14:07] afaerber commented on #12
@awafaa Any update on this? I've seen `aarch64/ubuntu` and `aarch64/debian` for instance. The former referenced in [96Boards CE Docker documentation](https://github.com/96boards/documentation/blob/master/ConsumerEdition/CE-Extras/DockerCE.md).

Otherwise agreed that `arm` is too generic; I wonder whether it should rather be `armv7hl` and `armv6hl`, as on [download.opensuse.org](http://download.ope

[2016-09-14 11:12] lauriholmas opened #27 "SSL seems to work weird"
Running the portus docker-container ( self-built but without changes). Starting it up with a docker-compose.yml configuration. Once its up and running, I can access it with browser without a problem. If I try to curl it, I have to give the -k ( insecure ssl) to turn of certificate verification. I am using a properly signed certificate with the CA part embedded into it.

This leads to trying to do

[2016-09-15 07:20] lauriholmas commented on #27
Ok, figured it out. I had a valid certificate and a valid CA certificate appended top the file, only in the wrong format or wrong type. After making sure the CA cert type matches the expected type, the certificate is accepted, atleast by curl, so I assume it will work for docker too.

( openssl s_client -showcerts -connect myurl:443  was the command that helped me debug this, incase someone runs i

[2016-09-15 07:20] #27 closed, assigned to nobody

[2016-10-27 05:17] zifik opened #30 "Update Portus to 2.1"
Please create a branch or tag for Portus 2.1.

Would also be nice if it is subsequently available via hub.docker.com as well.

[2016-11-28 22:18] WurtZen opened #32 "Portus crono not working"
I'm running opensuse/portus:head on CentOS docker host
and registry ver 2.5.1
when running just the /usr/sbin/portus_crono
I get this output
I, [2016-11-28T21:38:06.229185 #196]  INFO -- : 'CatalogJob' with rule 'every 600 seconds' next time will perform at 2016-11-28 21:48:06 UTC
I, [2016-11-28T21:48:06.228857 #196]  INFO -- : Perform CatalogJob
Exception: execution expired
I, [2016-11-28T21:48:2

[2016-12-11 19:05] m407 opened #33 "Wrong packages and paths"
1. In openSUSE-42.2 config.kiwi contains non existing for 42.2 project openSUSE-release-mini
2. In derived_images/systemd/Dockerfile paths for init is wrong. In openSUSE init located in /sbin/init and anyway it's  useless. CMD directive should by like this
CMD ["/usr/lib/systemd/systemd"]

[2016-12-21 08:30] tboerger commented on #33
[code]

I don't know why somebody wants to use that container anyway, but this can be solved quite easy.

[2016-12-21 08:43] tboerger commented on #13
[code]

Seems to be fixed, closing.

[2016-12-21 08:43] #13 closed, assigned to nobody

[2016-12-21 08:48] tboerger commented on #12
We already got these repos prepared on jenkins, but we have not configured any worker except for `x86_64` so far:

* aarch64: `opensuse/aarch64:42.1`
* armv6l: `opensuse/armv6l:42.1`
* armv7l: `opensuse/armv7l:42.1`
* ppc64le: `opensuse/ppc64le:42.1`
* s390x: `opensuse/s390x:42.1`
* x86_64: `opensuse/amd64:42.1`

[2016-12-21 09:11] m407 commented on #33
zypper lr -u
 | Alias               | Name                              | Enabled | GPG Check | Refresh | URI
--+---------------------+-----------------------------------+---------+-----------+---------+-----------------------------------------------------------------------
1 | repo-non-oss        | openSUSE-Leap-42.2-Non-Oss        | Yes     | (r ) Yes  | Yes     | http://download.opensuse.org/di

[2016-12-21 09:29] tboerger commented on #33
The systemd example have been fixed now.

[2016-12-21 09:53] tboerger commented on #33
It's indeed a system package, than I'm asking where it comes from...

[code]

@davidcassany maybe you want to fix/resolve that? Looks like openSUSE-release-mini doesn't exist anymore within 42.2 but it's still part of the kiwi definition.

[2017-01-09 10:42] s4mur4i commented on #32
I tested crono by me, and same behavior without any changes:

/usr/sbin/portus_crono
/srv/Portus /
I, [2017-01-09T10:30:10.032961 #757]  INFO -- : [Mailer config] Host:     xxxx
I, [2017-01-09T10:30:10.033091 #757]  INFO -- : [Mailer config] Protocol: https://
I, [2017-01-09T10:30:10.647051 #757]  INFO -- : Loading Crono 0.9.0
I, [2017-01-09T10:30:10.647136 #757]  INFO -- : Running in ruby 2.1.2p9

[2017-01-31 18:04] hurricanehrndz opened #38 "Tumbleweed images are no longer being updated."
https://hub.docker.com/r/opensuse/amd64/tags/  - 25 days since last update\
https://hub.docker.com/r/library/opensuse/tags/ - 19 days ago

Issues with Kiwi:
https://build.opensuse.org/project/show/Virtualization:containers:images:openSUSE-Tumbleweed
No new kiwi builds since Jan 05, 17.
http://download.opensuse.org/repositories/Virtualization:/containers:/images:/openSUSE-Tumbleweed/images/

[2017-01-31 18:05] hurricanehrndz commented on #12
I started making my own, so If you wish you can close this issue.

[2017-01-31 18:05] #12 closed, assigned to nobody

[2017-01-31 18:25] hurricanehrndz commented on #38
seems like the following package is now missing from factory
[code]

[2017-02-03 15:52] davidcassany commented on #38
@hurricanehrndz right, this is because the Kiwi version has been updated and now build service requires `systemd` and `udev` to be present in the virtual machine that launches Kiwi. Adding `systemd` and `udev` requirement on project configuration (just for the build environment, the docker image remains unchanged) solved the issue.

Thanks for reporting it.

[2017-02-08 12:43] lauriholmas commented on #30
Also a branch for Portus 2.2 would be nice to have!

[2017-02-13 23:37] Djelibeybi commented on #32
I just submitted PR #39 which enables Crono support in the default image. This has been working for me and I don't see any execution timeouts on my setup. Would be great if you could test it to see if it works for you.

Note that you have to run two containers: one for Portus itself and another one for Crono. You should match the `docker run` parameters for both so that the Crono container connect

[2017-02-17 13:14] flavio commented on #38
Closing as it has been fixed.

[2017-02-17 13:14] #38 closed, assigned to nobody

[2017-02-17 13:27] flavio commented on #12
We are building the base images for aarch64, armv7l, ppc64le and even s390x on OBS:

 * [openSUSE Leap 42.2](http://download.opensuse.org/repositories/Virtualization:/containers:/images:/openSUSE-42.2/images/)
 * [openSUSE tumbleweed](http://download.opensuse.org/repositories/Virtualization:/containers:/images:/openSUSE-Tumbleweed/images/)

We have to automate their publishing to the docker hub. I

[2017-02-17 13:42] mssola commented on #32
@WurtZen since PR #39 has just been merged, could you try it now ?

[2017-02-27 07:43] yongzhang commented on #30
any schedule for Portus 2.2?

[2017-03-14 09:42] lauriholmas opened #42 "portus version in this container is dev, would be nice to have versions by releases"
The portus version in the portus container is currently 2.3-dev. Would be nice to have branched/tagged builds which refer the portus release versions. There is tag for 2.0, but since that 2.1 and 2.2 have come out. ( I think it was 2.2 that required database migrations, which was a bit of an unpleasant surprise).  I guess having versioned builds would require versioned releases of portus into the

[2017-03-14 14:26] ntwrkguru opened #43 "Waiting for mariadb to be ready in 5 seconds"
Running image from the Docker Hub (tag 2.0) results in an unusable container, waiting on mariadb to be ready.

[code]

I'm running it from a playbook; here's the (sanitized) play:
[code]

Target machine:
[code]

Any ideas or tips?

[2017-03-14 14:57] ntwrkguru commented on #43
Pilot error. :-( The paragraph on the database is a bit ambiguous; it states "external database", but also states that the init script will configure the database. I would recommend to make this a little more clear; that a database has to be created, but that they init script will configure the tables, etc.

[2017-03-14 14:57] #43 closed, assigned to nobody

[2017-03-14 16:13] mssola commented on #42
We are planning to fix that. Sorry for the troubles.

[2017-03-14 16:16] bicquet opened #44 "[portus] /secrets/portus.key shouldn't require chmod 644"
**docker image:** using the most recent successfully built _head_ from https://hub.docker.com/r/opensuse/portus/builds/bg5vakttezxqffqvlnfoupv/
opensuse/portus@sha256:31f79c09a33eb59b510dca4f595102e61572649fc239ab9595b35abcc03983a2

**issue:** when passing a custom private key into portus via a docker-compose volume, portus fails to authenticate a docker registry login (i.e. command line, not the

[2017-03-15 00:08] ntwrkguru opened #45 "[portus] FQDN env var not being passed to Apache"
Despite setting the `PORTUS_MACHINE_FQDN_VALUE` env var, Apache is not picking it up.

[code]

[2017-03-15 13:35] ntwrkguru opened #46 "[portus] Unable to push to registry v. 2.0.5"
Unable to push to the registry on a fresh install of Portus (v. 2.0.5). Looks like it's attempting to push using the v1 API.

[code]

On the client side, here is the reproduction (sanitized as needed):
[code]

Client information:
Docker for Mac-
[code]
docker-machine-
[code]

Server-side:
[code]

- I've tried specifying :443 or omitting :443 with the same results
- I've tried using both Docker for

[2017-03-15 13:45] flavio commented on #46
@mssola any idea about this one?

[2017-03-15 13:46] flavio commented on #45
ping @mssola

[2017-03-15 13:47] flavio commented on #44
ping @mssola

[2017-03-15 15:31] ntwrkguru commented on #46
Downgraded the server host to docker engine 1.13.1 and even to 1.8.3 and see the same.

[2017-03-16 16:45] mssola commented on #46
@ntwrkguru what about Docker distribution, what's the version there ?

[2017-03-16 16:48] mssola commented on #44
I'll investigate this.

[2017-03-16 17:05] ntwrkguru commented on #46
@mssola how do I determine that?

[2017-03-16 17:35] ntwrkguru commented on #46
I assumed a registry was included. Guess not. I spun one up on the same box:

[code]

and linked to it from portus:

[code]

Then changed the registry in Portus UI to be registry:5000 (non-ssl). I still see the same thing. Looks like there is no tests performed when adding a registry; it just assumes it will be there and responding according to the configuration?

[2017-03-18 10:10] mssola commented on #30
Done. Sorry for all the troubles. It took a bit because we also re-did how we handle the docker image from now on.

[2017-03-18 10:10] #30 closed, assigned to mssola

[2017-03-18 10:12] mssola commented on #42
This has already been done. We now provide a tag for 2.1 and 2.2. Furthermore, note that for 2.3-dev and master we are now using Puma. I've added some examples on how to deploy this new image in the PR SUSE/Portus#1254.

Thanks for the patience 😅

[2017-03-18 10:12] #42 closed, assigned to mssola

[2017-03-29 13:33] Nols1000 opened #50 "portus: /bin/sh: /rpm-import-repo-key: Permission denied"
Add `chmod +x /rpm-import-repo-key` before executing the script to fix this.
EDIT: Please do the same for init

[2017-03-29 15:17] mssola commented on #50
@Nols1000 see PR #51

[2017-03-29 18:04] #50 closed, assigned to nobody

[2017-03-29 18:06] ntwrkguru commented on #46
@mssola Can you offer any guidance on this? I have the registry now installed and can login to it, but still seeing that error when attempting to push.

[2017-04-03 19:32] m407 commented on #33
You are right. I built it locally so I got an error. But when it is built in OBS instance everything Ok.

[2017-04-03 19:32] #33 closed, assigned to nobody

[2017-04-03 19:35] m407 opened #52 "Repo URL in root.tar.bz2 for openSUSE-42.2 broken"
In root.tar.bz2 etc/zypp/repos.d/oss-update.repo has
http://download.opensuse.org/update/42.2/
but it should be
http://download.opensuse.org/update/leap/42.2/oss/
It is more clear in case of using repo mirrors.

[2017-04-26 08:15] drpaneas opened #54 "Removal of orphaned packages Tumbleweed image"
I am using the latest `opensuse:tumbleweed` docker image from DockerHub and I've noticed that there are many installation conflicts because of `krb5-mini`. However, this package seems to come from nowhere:

[code]

These are all the `orphaned` packages in the image:

[code]

The existence of `krb5-mini` is causing 301 conflicts during the installation of the following packages:

[code]

If it's po

[2017-04-27 11:02] flavio commented on #54
As discussed via mail this is an issue of tumbleweed. They introduced this regression.

I would close the bug because right now there's nothing we can do on our side.

[2017-04-27 11:29] drpaneas commented on #54
Sure, I will post this in the factory mailing list, maybe someone knows more and can help me with that.

[2017-04-27 14:22] plusky commented on #54
I guess that would be solvable by adjusting project  [1] there should be something like:
[code]

Basically oposite of what is set for Factory [2]

1. [https://build.opensuse.org/project/prjconf/Virtualization:containers](https://build.opensuse.org/project/prjconf/Virtualization:containers)
2. [https://build.opensuse.org/project/prjconf/openSUSE:Factory](https://build.opensuse.org/project/prjconf/o

[2017-04-28 13:46] flavio commented on #54
Would that be sustainable on the long run, wouldn't it be better to have Factory solve their dependency issues?

[2017-04-28 14:51] jordimassaguerpla commented on #54
@plusky : I don't see any Prefer nor Conflict regarding kbr5 in the project you pointed out ([2]). Has it been fixed already?

[2017-04-28 18:19] plusky commented on #54
@flavio its not dependency issue - split is done on purpose to break build cycles (full kerberos depends on ldap while ldap depends on kerberos), project has to be configured accordingly - in other words kerberos split is not error nor is going away. I do not see any issues making this unsustainable in long run (btw same as solution mentioned in my comment was suggested to @drpaneas  by Thorsten)

[2017-04-28 18:22] plusky commented on #54
@drpaneas as workaround, running `zypper dup` in container will resolve those issues (replace krb5-mini by regular krb5)

[2017-04-28 21:10] drpaneas commented on #54
@plusky thanks for the workaround, indeed it fixes the problem, so I rebuild the image for myself with `krb5` instead of `krb5-mini`.

[2017-05-02 07:37] flavio commented on #54
Ok, forgive the stupid quesiton... should't we fix the issue by changing the KIWI spec to use `krb5` instead of `krb5-mini` like @drpaneas did?

[2017-05-02 12:54] plusky commented on #54
@flavio adjusting kiwi definition should lead to same result - I would consider adjusting project config to be more clean (yet less user friendly solution), but neither is wrong

[2017-05-09 08:35] flavio commented on #54
@plusky I agree that setting that inside of the project config is a more clean solution.

I tried to set these directives into the [top level project](https://build.opensuse.org/project/prjconf/Virtualization:containers) and then into the [openSUSE 42.2 one](https://build.opensuse.org/project/prjconf/Virtualization:containers:images:openSUSE-42.2) but the final image built locally with `osc` is st

[2017-05-09 08:39] plusky commented on #54
hmm I will branch project and see what needs to be changed

[2017-05-09 09:23] afaerber opened #55 "Leap 42.3 images"
There is no openSUSE-42.3 directory yet, and it's undocumented how openSUSE-42.2/root.tar.bz2 or its predecessors were actually generated.

[2017-05-09 11:09] plusky commented on #54
So following works correctly: `Required: krb5` - see [prjconf](https://build.opensuse.org/project/prjconf/home:pluskalm:docker) - also note that something like `Prefer: systemd-presets-branding-openSUSE`  is needed with latest TW

[2017-05-09 13:32] flavio commented on #54
Thanks, I'll give it a shot. I will apply the `Required: krb5` at the `obs://Virtualization:containers` level so we don't have to apply that to all the sub projects building docker images.

[2017-05-09 16:07] flavio commented on #54
I fixed that on OBS and I triggered a rebuild of the images. Everything is working as expected on my local builds done with `osc`.

The change will automatically propagate to the docker hub.

[2017-05-12 15:12] rhrpr opened #56 "docker pull opensuse/portus - Error response from daemon: manifest for opensuse/portus:latest not found"
Has there been an error in the latest commit?

[2017-05-12 15:20] mssola commented on #56
Check the image on the [Docker hub](https://hub.docker.com/r/opensuse/portus/) and in the [documentation](https://github.com/openSUSE/docker-containers/tree/master/derived_images/portus#portus-official-docker-image), there's no `latest` tag. You should use `head` or one tagged version (e.g. `v2.2`).

[2017-05-12 15:20] #56 closed, assigned to nobody

[2017-05-15 07:23] realknorke opened #57 "Tumbleweed repo actions broken after few days in docker"
I have a simple Dockerfile

I can use this for creating an image. REFRESHing repo metadata using zypper works. Installing packages works too.

After a few days (5+?) I cannot install any package, e.g. "tree".

As you can see a RETRY is working here. But this is not always the case! (and as I have to use the "--non-interactive" setting of zypper even the RETRY is not a solution)

The error is alway

[2017-05-15 13:59] flavio commented on #57
Are you refreshing the repositories metadata before doing the `zypper in` operation? tumbleweed packages change very often, you are probably trying to download an older version of the package which is no longer available.

[2017-05-15 15:22] realknorke commented on #57
When the package that wants to be installes is no longer available, why does a RETRY work?

Apart from this question I double-checked whether or not a REFRESH helps to avoid the problem. It doesn't.

bash: tree: command not found
bash-4.4# zypper install tree
Retrieving repository 'NON-OSS' metadata [done]
Retrieving repository 'OSS' metadata [done]
Loading repository data...
Reading installed pac

[2017-05-15 15:23] realknorke commented on #57
maybe this is of interest (taken from one of my older tumbleed containers -- but I can reproduce the problem even on "latest" images)

Repository priorities are without effect. All enabled repositories share the same priority.

--+---------+---------+---------+-----------+---------+----------+-------+-------------------------------------------------------+--------
1 | non-oss | NON-OSS | Yes     |

[2017-05-15 15:26] realknorke commented on #57
I also tried `zypper ref -f -b -d` -- problem still exists.

[2017-05-15 16:29] flavio commented on #57
This is really strange, maybe it could be a mirror related issue? I'll try to reproduce it

[2017-05-16 06:28] realknorke commented on #57
I tried to read the temp files zypper/libzypper creates when handling with metadata (from repo server) but unfortunately the files are getting deleted too fast. That is, when the error messaged is written to stdout the temp files are already gone. I can see the files using 'strace' though. Maybe I can copy the temp files' content using some inotify hack ("copy all files on close" or stuff like tha

[2017-05-16 08:28] vrothberg commented on #57
@realknorke I  try to reproduce as well. You already mentioned that it happens on different hosts, but did you observe the issue over a longer period of time? I am asking as there have been some downtime of openSUSE's infrastructure from Friday to Monday.

[2017-05-16 08:41] realknorke commented on #57
@vrothberg Yes, this issue is not related to the auth/hack issues lately. And with repo/metadata/mirror servers down a RETRY in zypper shouldn't work either.

I posted a description (in German language) in [OpenSUSE Forum](https://www.opensuse-forum.de/thread/38339-tumbleweed-probleme-bei-install-update-media-source-%E2%80%A6-does-not-contain-the-desir/) on 2017-03-31

[2017-05-22 11:55] vrothberg commented on #57
I couldn't reproduce it until now. We're on it!

[2017-05-23 08:49] realknorke commented on #57
Hmmm. Which storage driver you're using? I'm using "overlay" -> OverlayFS. (*not* overlay2)

[2017-05-23 08:52] vrothberg commented on #57
I am using btrfs.

[2017-05-23 09:00] realknorke commented on #57
Okay. I could (again) confirm the issue using overlay. I created another container using the same Dockerfile but with "overlay2" storage driver. I will test "btrfs" after that (in case the problem still exists with "overlay2"). I'll keep you posted. Please remain this issue open. Thanks. ;)

[2017-05-23 09:09] vrothberg commented on #57
Great, thanks! I'll do the same with overlay2.

[2017-05-26 05:45] toabctl commented on #54
I filled https://bugzilla.suse.com/show_bug.cgi?id=1040875 with the same problem (read this to late, sorry). But in my case the problem happens with SLES12

[2017-05-26 12:16] plusky commented on #54
Solution should be same as for Tumbleweed :)

[2017-05-29 07:24] realknorke commented on #57
Issue confirmed with storage driver "overlay2". I'm testing "devicemapper" driver now. (sadly, no btrfs in use here)

[2017-06-01 15:00] davidcassany commented on #54
Finally decided to include the package inside the kiwi description file (see #61). We'd like to keep project configuration simple and clean. This way, any project reusing this template will have the issue solved, without having deal with any project configuration specificity. Also this is the adopted solution for the SLE12 images and we should use the same approach everywhere.

[2017-06-02 08:07] #54 closed, assigned to nobody

[2017-06-12 06:20] realknorke commented on #57
Finally, a ray of hope. ;)
I can NOT reproduce the problem when using device mapper as storage backend.

Seems related to overlay/overlay2 only.
@vrothberg can you reproduce the problem using overlay2?

[2017-06-14 16:02] drpaneas opened #64 "Wrong repository found in Leap 42.3 docker image"
There is no repository at [http://download.opensuse.org/update/42.3](http://download.opensuse.org/update/42.3)

[code]

How to fix it:

[code]

[2017-06-14 16:03] drpaneas commented on #64
The docker image I used is this one:

[http://download.opensuse.org/repositories/Virtualization:/containers:/images:/openSUSE-42.3/images/openSUSE-42.3-docker-guest-docker.x86_64.tar.xz](http://download.opensuse.org/repositories/Virtualization:/containers:/images:/openSUSE-42.3/images/openSUSE-42.3-docker-guest-docker.x86_64.tar.xz)

[2017-06-15 07:57] davidcassany commented on #64
@drpaneas thanks for reporting it, I will fix it today morning.

[2017-06-19 11:18] #64 closed, assigned to davidcassany

[2017-06-19 11:24] realknorke commented on #57
@flavio could you please check if this issue is caused by overlay/overlay2 storage backend? Is zypper/libzypper using unix domain sockets? I read overlay doesn't support this kind of (pseudo)file.

[2017-06-20 07:11] flavio commented on #57
I'm kinda busy right now, @vrothberg can you take care of that please?

[2017-06-20 07:16] vrothberg commented on #57
@flavio roger that. @realknorke, sorry for the longer silence. I've been quite busy the last weeks and simply didn't find time to check your issue.  Now I have more time and will look into it right now.

[2017-06-20 07:58] realknorke commented on #57
I really appreciate that. Thank you very much, guys!

[2017-06-20 09:23] vrothberg commented on #57
@realknorke Could you check your logs after the error occurred? I just set up a VM with ext4 to check docker with overlay2, and am trying to reproduce, so in the meantime we could dig a little deeper into your setup.

I stumbled across https://github.com/docker/docker/issues/10180 and I see some similarities to your issue. The mentioned issue is caused by data inconsistencies when simultaneously r

[2017-06-20 13:55] realknorke commented on #57
@vrothberg in which log exactly? I will attach all necessary logs. Nothing interesing in kernel ring buffer (dmesg) or docker syslog.

The simple test to reproduce the bug doesn't work here: opening two file handles with RDONLY and RDWR and then write to the RDWR handle and read from the RDONLY handle. The result is as expected (seeing the written data from the RDWR handle).

I think it is much mo

[2017-06-21 05:49] vrothberg commented on #57
Thanks, @realknorke! The interesting log would have been dmesg. I setup an image yesterday and will try to reproduce it over time.

One thing I'd love to check is when removing the affected repository from */etc/zypp/repos.d* and then running a `$zypper in tree`.

[2017-06-21 16:13] jordimassaguerpla commented on #55
This was fixed on May 21st https://github.com/openSUSE/docker-containers/commit/615aeef8f7bca39d1b4a4fa8a00f1824ac8d277c. We just forgot to close this issue.

[2017-06-21 16:13] #55 closed, assigned to nobody

[2017-06-26 12:50] vrothberg commented on #57
I am checking daily to reproduce the issue, still without success :-( Let's keep an eye on it.

[2017-06-26 13:04] realknorke commented on #57
The only message in log when starting docker is

Jun 26 14:54:53 [kernel] cgroup: "memory" requires setting use_hierarchy to 1 on the root

Setting 'check_copy_up' to 'Y' in sysfs doesn't help.

When removing the affected repo (which is installed by default and no. 2 in the following "zypper lr -d" output) I cannot install the 'tree' package, because "No provider of 'tree' found."

2 | oss

[2017-06-26 13:32] vrothberg commented on #57
I'll look into the source of the logs.

I assumed your observations are unrelated to the package, but to the repository. There's at least one package in `non-oss` you could try to install `iozone`.

[2017-06-27 13:47] vrothberg commented on #57
Could run `zypper in tree` with `-vvv` and post the output here? I am reading zypper and libzypp code to get a better understanding of what's happening there.

[2017-06-27 15:25] realknorke commented on #57
@vrothberg hmm I think you cannot reproduce it then. The problem happens after a few days (like 4-7 days or so) with 100% success rate on my Gentoo machines as well as Ubuntu (LTS) machines on Amazon AWS.
But only with overlay and overlay2 storage driver. I cannot reproduce the problem with device-mapper storage driver. And my assumption is that btrfs, aufs and zfs as storage backend work well, to

[2017-06-28 07:02] realknorke commented on #57
@vrothberg I can install iozone from the 'non-oss' repository. No problem here.

I tried another package from non-oss: 'xv'. Its only in non-oss but has deps in 'oss'. Same problem: cannot install dependencies from 'oss' repo. After removing oss-repo and installing 'xv' (accepting broken deps) everything works (the installation) fine.

BUT
Before I install something (no matter which package) I see

[2017-06-28 07:21] vrothberg commented on #57
It looks suspicious, but I have only limited knowledge of zypper. Did you remove the repo by hand or via `zypper rr`? What could speed-up debugging is to do a `docker commit` on a "broken" container and use that image afterwards. If there's nothing confidential you could push that to docker hub and we can go from there.

[2017-06-28 08:06] realknorke commented on #57
@vrothberg  I used "zypper rr" to remove the repo.
I uploaded the broken container to docker hub: knorke/tumbleweed-base-debug

Are you using overlay or overlay2 at the moment?

[2017-06-28 08:25] realknorke commented on #57
The message in dmesg 'cgroup: "memory" requires setting use_hierarchy to 1 on the root' (see above, 2 days ago) is not related to the problem. I set /sys/fs/cgroup/memory/memory.use_hierarchy to 1 (was 0) and the message on docker startup is now gone but the problem is still present.

[2017-06-28 08:32] vrothberg commented on #57
Thanks a lot.

Yes, I have a clean Leap VM with ext4 and overlay2 running.

[2017-06-28 09:26] realknorke commented on #57
@vrothberg I installed Leap in VirtualBox (server flavor with ext4) and tested my debug image with docker-compose. I can reproduce the problem within Opensuse Leap host system (host for docker, guest in VBox)

[2017-06-29 06:46] vrothberg commented on #57
@realknorke Can you try it with `docker pull` and `docker run` instead of `docker-compose`? I just did that and the error didn't occur in my Leap 42.2 VM with ext4 and overlay2.

[2017-06-29 11:46] realknorke commented on #57
@vrothberg I used docekr pull && docker run. Same problem.
Tested it in my 42.2 LEAP VirtualBox VM (NetInstall with ext4 and overlay2).

Do we really have to exchange VM images now?
I created an snapshot directly after triggering the bug.

Could you reproduce the bug with MY virtual machine on YOUR workstation? (I hope it is possible to simply move and start VMs like that)
I'm using VBox 5.0.32 on

[2017-06-29 11:54] vrothberg commented on #57
I don't see any file in this folder. Are you still uploading?

[2017-06-29 12:03] realknorke commented on #57
Yep, sorry, I was too fast with my comment. Upload is finished now.

[2017-06-29 12:40] vrothberg commented on #57
No problem. Can you provide the root password?

[2017-06-29 12:52] realknorke commented on #57
sorry. I added a user named 'knorke' with pw 'lamer123'. The pw for root is the same.

[2017-06-30 11:40] vrothberg commented on #57
Some updates from debugging.

The issue seems to be that the curled media file is either corrupted or absent when checking if it's the desired media. To be more specific `bool SUSEMediaVerifier::isDesiredMedia(const media::MediaAccessRef &ref)` in [1] doesn't succeed. I suspect some race condition in overlay or even a bug. I double-checked with the zypper maintainer to make sure the CPP warning do

[2017-06-30 12:27] realknorke commented on #57
No,
thank YOU for your patience! ;)

[2017-07-01 13:08] vrothberg commented on #57
Some patched version of `libzypp` revealed that the ID of the cached media file is different to the one in the Tumbleweed repository. A `zypper clean -M` helps to fix the problem as it cleans the raw  metadata. I continue digging as it ultimately seems like a filesystem issue, but I'm also unhappy with zypper.

As @realknorke described, the installation succeeds when retrying, but installing anoth

[2017-07-04 11:52] vrothberg commented on #57
@realknorke, we finished analyzing the issue and provided a fix for zypper here https://github.com/openSUSE/libzypp/pull/72.

The root cause of the symptom you described in this issue is that OverlayFS doesn't (fully) support the `rename(2)` syscall and will fail when src and destination path are not on the same layer. This is exactly the case here as zypper downloads some metadata to check if the

[2017-07-04 11:58] realknorke commented on #57
@vrothberg awesome! thanks a lot!

No I'm able to use openSUSE over awful ubuntu in my company.

As soon as this bug gets closed I will delete the files/images I provided. If you need the image and VBox data for later please just say so.

Thanks.

[2017-07-04 12:40] vrothberg commented on #57
Sounds awesome, have fun :-) Just be aware that OverlayFS can let other applications break as well. But if you have control over the deployments, it *should* be fine. Until the PR has been merged and made it to the package, I suggest to run `zypper clean -M` before updating, installing, etc.

Thanks a lot, feel free to delete them.

[2017-07-04 13:04] vrothberg commented on #57
The fix is now merged to `libzypp` in https://github.com/openSUSE/libzypp/pull/72. Closing the issue.

[2017-07-04 13:04] #57 closed, assigned to vrothberg

[2017-07-06 11:41] davidcassany opened #67 "Update openSUSE base images to make use of kiwi native builds"
## Description

Currently KIWI supports Docker images in a native way, meaning the image build by KIWI can be included in a Docker daemon by simply loading it `docker load -i image.tar.xz`. It also means that KIWI can feed relevant metadata to the Docker image (volumes, entrypoint, exposed ports, etc...). Native image are better integrated within the buildservice, thus any associated workflow to t

[2017-07-11 22:55] jayvdb commented on #55
There isnt a 42.3 tag in https://hub.docker.com/r/library/opensuse/tags/ yet.

[2017-07-12 13:12] afaerber commented on #55
And not in https://hub.docker.com/r/opensuse/amd64/tags/ either.

[2017-07-21 10:42] ElGranLoky commented on #32
With opensuse/portus:head
--
And crono enable in PORTUS_INIT_COMMAND bin/crono -  same problem but no always happend

21/7/2017 13:01:40+ _timeout=150
21/7/2017 13:01:40+ _count=0
21/7/2017 13:01:40+ _status=0
21/7/2017 13:01:40+ stat /usr/sbin/portusctl
21/7/2017 13:01:40+ cmd_prefix='portusctl exec'
21/7/2017 13:01:40+ '[' 0 -le 150 ']'
21/7/2017 13:01:40+ portusctl exec crono
21/7/2017 13:01:49

[2017-07-22 16:53] jayvdb commented on #55
@flavio, can we expect 42.3 docker images any time soon?

[2017-07-24 06:00] tturbs commented on #45
Also it is failed to set SSL directories.

[2017-07-24 07:47] flavio commented on #55
Sure, we are going to publish them at the same time the official openSUSE Leap 42.3 is released.

[2017-08-01 10:02] mssola commented on #45
@ntwrkguru could you try with #69.

What do you mean ? Could you explain your exact problem ?

In general, I'd switch to a non-Apache image (like `head`), since we have quite some examples with it (see [this](https://github.com/SUSE/Portus/tree/master/examples)).

[2017-08-03 12:05] mssola commented on #45
Fixed by #69

[2017-08-03 12:05] #45 closed, assigned to nobody

[2017-08-03 18:26] jayvdb commented on #55
They are available now.

[2017-09-04 15:29] #67 closed, assigned to davidcassany

[2017-10-11 13:21] decayofmind commented on #44
Facing this issue as well. Any update on this?

[2017-12-12 16:18] eduardoj opened #82 "Container based on opensuse:42.3 doesn't build because sudo errors"
### Summary

Building a [openbuildservice/frontend-base](https://github.com/openSUSE/open-build-service/blob/bc5f4478e140a264300e13cf60cf524755f4d4df/Dockerfile.frontend-base) image from newly built [openbuildservice/base](https://github.com/openSUSE/open-build-service/blob/dcfef4bfb3ba23df232c9e6ae412a70d03331441/Dockerfile.423) image (that is built from opensuse:42.3 image) results in this error

[2017-12-13 07:45] #52 closed, assigned to nobody

[2017-12-13 07:56] davidcassany commented on #82
@eduardoj, I am puzzled, it only happens in leap 42.3, not in 42.2 neither in Tumbleweed... Looking for any difference at moment, but so far I couldn't see anything special in 42.3 yet. I am digging it.

[2017-12-14 09:45] davidcassany commented on #82
@eduardoj, finally I found the issue, apparently there is something wrong with the `pam` package in Leap 42.3. For some reason the last line listed below in `/etc/security/limits.conf` causes this sudo issue:

[code]

No idea why it happens in Leap 42.3 and not in Leap 42.2, in both distros `pam` is exactly the same package, but anyway, it is solved in Tumbleweed by changing the limits configurati

[2017-12-14 10:46] eduardoj commented on #82
Adding this line to Dockerfile.423 worked like a charm:

[code]

Thanks!!

[2017-12-14 12:54] davidcassany commented on #82
Great, closing the issue then

[2017-12-14 12:54] #82 closed, assigned to nobody

[2018-01-15 21:43] dforste opened #87 "Add portus 2.3 tag"
Add 2.3 to the open build service.
https://build.opensuse.org/project/subprojects/Virtualization:containers:Portus
http://port.us.org/docs/how_we_release.html#brief-explanation

[2018-01-16 12:13] mssola commented on #87
I'll do this in due time. For now the branch has not been created yet. We should be doing this in a matter of days 👍

[2018-03-15 14:52] adnoh opened #98 "not able to bind to a differnt port"
the line `export PORTUS_PUMA_HOST="0.0.0.0:3000"` in /init leads to not being able to set the binding via docker/kubernetes which should be possible by exposing the mentioned environment variable.
It is unnecessary, because of Port 3000 is the default in puma and the puma.rb from portus.
Btw, I think all of this exports in /init are a problem to limit configuration of the container via env variabl

[2018-03-22 08:32] mssola commented on #98
@adnoh Portus binds to 3000, but in the container world you can do port mapping. See my explanation [here](https://github.com/openSUSE/docker-containers/pull/101#issuecomment-374994885).

[2018-03-27 12:14] #98 closed, assigned to nobody

[2018-04-19 13:44] wenchongyang opened #103 "Sass::SyntaxError: File to import not found or unreadable: font-awesome"
using the lasted image sha256:ce14800138d79204fb5d22493f4cb12a6520f22fd76967647b61cca38a30f922 when start up using http://172.31.0.237:3000 then the page show with error:
http://172.31.0.237:3000/500?fixes=true
 Sass::SyntaxError: File to import not found or unreadable: font-awesome
 Load paths:
 /srv/Portus/app/assets/images
 /srv/Portus/app/assets/javascripts
 /srv/Portus/app/assets/stylesheets

[2018-04-25 08:47] mssola commented on #103
I think you are missing setting `RAILS_SERVE_STATIC_ASSETS` to `true`. See the [documentation](http://port.us.org/docs/assets.html) or the [examples](https://github.com/SUSE/Portus/tree/master/examples)

[2018-04-27 07:24] wenchongyang commented on #103
yes setting the RAILS_SERVE_STATIC_FILES and RAILS_SERVE_STATIC_ASSETS   to true , then start success.

[2018-04-27 09:56] mssola commented on #103
Great! Closing then :+1:

[2018-04-27 09:56] #103 closed, assigned to nobody

[2018-07-31 12:25] mssola commented on #44
I believe this issue can no longer be reproduced. I'll close it now, but feel free to re-open it back again if you are still facing it.

[2018-07-31 12:25] #44 closed, assigned to mssola

[2018-10-31 09:57] thomas15v opened #107 "Portus image not updating."
https://hub.docker.com/r/opensuse/portus/builds/

Looks like docker hub is not happy.

[2018-10-31 10:38] flavio commented on #107
@mssola can you take a look into that?

[2018-10-31 14:22] mssola commented on #107
@flavio yes, it appears that the gpg trick that we used to do is not working anymore for an unknown reason... I tried to fetch the key from other providers, and all this works locally, but on Docker hub it either times out, or refuses to connect.

I guess I'll take a further look into the gpg command, to see if there's something I can use. Otherwise, I'm afraid that the only option left is to blin

[2018-10-31 15:16] flavio commented on #107
I hope that's not going to be the case!

[2018-11-05 10:14] mssola commented on #107
I already fixed the issue for the `2.4` and `latest` images. Now only `head` is missing, which looks like a regression of something me and @jordimassaguerpla already fixed some weeks ago...

[2019-02-11 21:31] Vad1mo opened #110 "opensuse/ruby:2.6 is missing"
Would like to do some coding for Portus, however the image FROM opensuse/ruby:2.6 is missing.

[2019-02-12 11:45] mssola commented on #110
Done! See #111. Thanks for the heads up and sorry for the inconvenience :+1:

[2019-02-12 11:45] #110 closed, assigned to nobody

[2019-04-29 03:48] solvingj opened #112 "breaking changes without revision tagging"
The official OpenSUSE docker images are constantly being improved and that is a great thing.  However, organizations using these docker images often require reproducibility and predictability in the runtime behavior of containers. Thus, such organizations typically need to pin their CI builds and other automated processes to specific tag revision based on a point in time, rather than using the `la

[2019-05-20 11:16] Vogtinator commented on #112
For Leap 15.1 and Tumbleweed those tags exist, but only on `registry.opensuse.org`.

What the exact tag to refer to a specific image is can be seen in the `org.opensuse.reference` label:

[code]

[2019-05-20 11:53] solvingj commented on #112
Great, thank you.  I understand this minor version tagging won't be backported to older leap versions.

[2019-05-20 11:53] #112 closed, assigned to nobody

[2019-05-21 14:20] solvingj commented on #82
I don't think this issue is resolved for leap 42.3.

[code]

[code]
[code]

[2019-05-21 14:29] solvingj commented on #82
Also of note, the default limits.conf in leap 42.3 does not have the offending line anymore:

[code]

[2019-05-21 14:47] solvingj commented on #82
I just determined that this issue is occurring on our Windows hosts running linux containers.  It does not occur when running on a Linux host.

[2019-05-21 14:58] Vogtinator commented on #82
If I read the bug report correctly, the issue seems to be that the policies specified in the container are higher than the ones the host allows. That might explain why it only fails on some hosts.

[2019-05-21 15:01] Vogtinator commented on #82
If I read the bug report correctly, the issue seems to be that the policies specified in the container are higher than the ones the host allows. That might explain why it only fails on some hosts.

[2019-05-21 15:01] solvingj commented on #82
No, sorry to bother, per my previous comment, this only happens on windows, thus, it's an issue with the LCOW layer. I've opened a new ticket with them accordingly.  LCOW is known to have incomplete support for a number of things.  For example, it just ignores the docker `USER` directive currently.

[2019-05-21 15:02] Vogtinator commented on #82
It might not be entirely. What's the output of `ulimit -a` before `sudo ls`?

[2019-05-21 15:03] solvingj commented on #82
[code]

[2019-05-21 15:05] Vogtinator commented on #82
Yeah, that's it - LCOW sets the nproc limit to 3766, but sudo tries to set it higher, to 16384.
Can be reproduced on any host:

[code]

[2019-05-21 15:06] solvingj commented on #82
Thanks for diagnosing!  Since you understand the issue, can you see any manual workaround we can do?

[2019-05-21 15:08] Vogtinator commented on #82
Yes, removing the limits completely: `echo > /etc/security/limits.conf`

[2019-05-21 15:32] solvingj commented on #82
Works, thanks so much!

[2019-11-01 10:05] akx opened #113 "Improper permissions on Portus init script"
It's currently impossible to run [`opensuse/portus:2.5`](https://hub.docker.com/r/opensuse/portus) since the `/init` script used as the entrypoint lacks the execute bit.

[code]

[2019-11-05 10:39] flavio commented on #113
ping @mssola

[2020-01-21 07:53] ashtonian commented on #113
any update ?

[2020-03-02 17:06] Jean-Baptiste-Lasselle opened #114 "OpenSUSE Leap Ruby2.6 Package broken"
## OpenSUSE package repository

* The Ruby package I tested is `obs://devel:languages:ruby/openSUSE_Leap_15.1 ruby` (not `obs://devel:languages:ruby/openSUSE_Leap_15.0 ruby`)

##  Details

Hello OpenSUSE Team, I have recently worked a bit on Portus, and :

* Other Community users, and I, have reproduced an issue using container image `opensuse/protus:2.5` : see https://github.com/SUSE/Portus/issue

[2020-03-03 19:20] Jean-Baptiste-Lasselle commented on #113
Hey   @Ashtonian @flavio @akx
I am scanning all portus issues to give this to all who have had problems with portus images

### Successfully repaired `opensuse/portus:2.5` OCI container image

Hi @mdeboer @bretep @invy @stefankip @dkowis   This time it's done, I have a solution to use, all details https://github.com/SUSE/Portus/issues/2241#issuecomment-593370789

It solves many of the issues I've

[2020-03-07 17:21] Jean-Baptiste-Lasselle commented on #114
We have news on this, see https://github.com/SUSE/Portus/issues/2279#issuecomment-596110419

Thanks to @JosuaSR

[2020-03-07 19:22] Jean-Baptiste-Lasselle commented on #114
what i finally got to with  @Josua-SR , After writing my sum up and questions above, I am almost sure that it is the Portus OpenSUSE package that has a bad design :
* in the `make_spec.sh`, hard-coded, and impossible to override
https://github.com/SUSE/Portus/blob/53bd63e299f47f1761f55ba2bc53b9cb804c1616/packaging/suse/make_spec.sh#L6 , you can read :

[code]

And in my fix https://github.com/poku

[2020-03-09 20:34] Jean-Baptiste-Lasselle commented on #114
# Update

Yet, as of today, we don't have a final explanation for why and how it can happen that running portus requires a specific version of bundler :
* this behavior does not make sense, since bundling an application, is not running it.  Bundling dependencies (even if clumsily managed), should not ever be Runtime dependencies. Any rails app should run without any dependency to a specific versio

[2021-02-10 17:04] gdhaaijer commented on #113
I think this is still an issue:

[code]

[2021-02-14 13:50] rasmuslos commented on #113
+1

[2022-03-14 10:24] louistwiice opened #115 "Unable to create a container on docker via cloned repository"
Hi Everyone.

I am trying to user openSUSE image for ma docker registry frontend. Those are my following steps:

1. I have cloned the repo with `git clone https://github.com/SUSE/Portus`
2. I have run `sudo chmod 777 .`
3. then `docker-compose up `

I am on the master, and I have received the following error during the step 3

[code]

Thank you very much for your help guyz